<h1>Buscando: <small>{{term}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término : {{term}}
        </div>

    </div>
</div>
<div class="card-columns">

    <!-- <app-heroe-card (selectedHeroe)="verHeroe($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"> </app-heroe-card> -->
    <app-heroe-card [heroe]="heroe" [index]="heroe.index" *ngFor="let heroe of heroes"> </app-heroe-card>

</div>